<div class="header-background">
    <div class="header-container">
      <h1>Bikes and Parts</h1> 
      
      <div class="header-nav">
        <button>Home</button>
        <button>Bikes</button>
        <button>Parts</button>
        <button>Shop</button>
        <button>About</button>
        <button>Login</button>
      </div>
  
      <div class="search-container">
        <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" (keyup.enter)="search()">
      </div>
    </div>
    <div class="description">
      <h4>Welcome!</h4>
      <h3>We sell you everything you need <br>
        for becoming a real biker!</h3>
      </div>
  
      <div class="order-now">
        <button>Order Now</button>
      </div>
    <span class='order'>
        <p>{{order}}</p>
    </span>
  </div>
  